<a href="https://colab.research.google.com/github/bimalboby/Learning-colab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

imp data types are : String , list ,tuple,set, dictionary

In [53]:
print("Test--")
a=3
if a>18:
  print("Done")

Test--

In [54]:
s=["a","b","c"]
s.insert(1,"aaaa")
print(s)

['a', 'aaaa', 'b', 'c']

In [55]:
if "aamd" in s:
  print("found")
elif("a" in s):
  print("a is there ")

else:
  print("not found")

a is there

In [56]:
import random as r
print(r.choice(s))
r.seed(10)
print(r.random())

aaaa
0.5714025946899135

In [57]:
i=input("Spin ? y: YES n:NO")
if i=="y":
  print(r.choice(s))
else:
  print("No")

Spin ? y: YES n:NOy
c

In [58]:
code=["NEW","HOLI","SALE"]
prices=[100,400,654]
c=input("Enter code :")
if c in code:
  print("valid")
  print( prices[code.index(c)])
else:
  print("not valid")

Enter code :NEW
valid
100

In [59]:
i=int(input("Enter"))
print(type(i))

Enter345
<class 'int'>

In [61]:
a=int(input("value 1:"))
b=int(input("value 2:"))
print(a+b)

value 1:3
value 2:5
8

In [69]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [72]:
st=input("Enter str")
for i in st:
  pass
print("last char : ", i)

Enter strZmz
last char :  z

In [93]:
num=int(input("Enter Row : "))
for i in range(1,num+1):
  for j in range(1,num-i+1):
   print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()

Enter Row : 12
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************

In [111]:
lst=[1,3,4,24,2,4,1,2,4,24,43,34,44,44,33,33,55,1,1,1,1,1,1,1,1,1,12]
lst2=[12,43,1,34]
ans=[]
import time as t
start=t.time()
for i in lst:
  if i in lst2:
   if i not in ans:
    ans.append(i)
  else:
    pass
end=t.time()
print(ans)
print(end-start)

[1, 43, 34, 12]
0.00013327598571777344

In [ ]:
l=40
u=500
for i in range(l,u+1):
  if i>1:
    for j in range(2,i//2):
      if i%j

In [113]:
l1=[1,2,3,4,5]
l2=[num**2 for num in l1]
print(l2)
l3=[num for num in range(30) if num%2==0]
print(l3)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]